* {
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0px;
}

canvas { margin: 0; overflow: hidden;}

#webGL {

    position: absolute;
    left: calc((100vw / 2) - (100vh / 2));
}

#reset-btn {

    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 0px;
    margin: 0px;
}